name: operator-management-service-tests.yml
on:
  push:
    branches: [ master, develop, feature/* ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: setup-go
        uses: actions/setup-go
        with:
          go-version: 1.25.5
      - name: Display Go Version
        run: go version
      - name: install-dependencies
        run: go get .
      - name: Build
        run: CGO_ENABLED=0 go build -ldflags='-s -w' -o  app-test ./operator-management-service/cmd/main.go
      - name: Test with the Go CLI
        run: go test