name: operator-management-service-tests

on:
  push:
    branches: [ master, develop, feature/* ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version-file: operator-services/operator-management-service/go.mod
          cache: true

      - name: Display Go Version
        run: go version

      - name: Download dependencies
        working-directory: operator-services/operator-management-service
        run: go mod download

      - name: Build
        working-directory: operator-services/operator-management-service
        run: |
          CGO_ENABLED=0 go build \
            -ldflags='-s -w' \
            -o app-test \
            ./cmd/main.go

      - name: Test
        working-directory: operator-services/operator-management-service
        run: go test ./...